<h2>Ejercicio 5</h2>
<div>
  <label>Introduce el primer numero:<input [(ngModel)]="num1" type="number" ></label><br>
  <label>Introduce el segundo numero:<input [(ngModel)]="num2" type="number"></label><br>

</div>

<div>
  <button (click)="sumar()">Sumar</button>
  <button (click)="restar()">Restar</button>
  <button (click)="multiplicar()">Multiplicar</button>
  <button (click)="dividir()">Dividir</button>
</div>

<div>
  <label>Resultado:<input [(ngModel)]="resultado" type="number"></label>
</div>
